<br />
<p><label for="feed_url">  Источник(выбирете 1 канал из списка найденых):</label><br /><%= text_field :feed, :url %></p>

<p><label for="feed_name">  Название: </label><br /><%= text_field :feed, :name %></p>
  
<p><label for="feed_description"> Описание </label><br /><%= text_area :feed, :description, :rows => "5", :cols => "30" %></p>

  
