<p><label for="user_inputcolumn">Лента новостей</label>
<%= select 'user','inputcolumn',{"все события" => "events"," События и Записи моих сообщест" =>"mycom","Записи друзей" => "myfri","Все записи"=>"posts"}%><p/>
   
