<div>
     <p>На электронный адрес  <b><%= @user.email %></b> была отправлена инструкция по активации вашего аккаунта.</p>
     <p> Если указанный вами электронный адрес недействителен, вы должны <b><%= link_to "зарегистрироваться", signup_path %></b>
          заново и указать действительный электронный адрес.</p>
     <p> Если вы не получили письма, проверьте ваш спам-ящик, возможно  спам фильтр вашей почты мог перепутать это письмо со спамом.</p>
</div>