<% @link_title = [] 
   newlink(@link_title,link_to("Сообщества",allcom_url),1)
   newlink(@link_title,link_to(@community.title,:controller => 'communities',:action => 'show', :id => params[:id]),-1)
   newlink(@link_title,link_to_unless_current("Записи сообщества"),0)
 %>
<% unless @posts.empty? %>
    <ul class="left_menu">
    <%= render :partial =>'users/news', :collection => @posts.reverse %>
    </ul>
	<div class="pagination">
	<%= will_paginate @posts %>
	</div>

<% else %>
		В сообществе нет ни одной записи.
<% end %>
